.second-home {
  h2 {
    font-weight: bold;
  }
}

.cart-introduce {
    text-align: center;
    i{
        font-size: 48px;
        margin-bottom: 16px;
    }
    p{
        line-height: 1.1em;
    }
    h3{
        font-weight: 600;
    }
}
