<div class="footer pt-5">
    <div class="container">
        <img class="logo-footer m-auto d-flex mb-6" src="/assets/logo-mini.PNG" alt="logo blog">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" class="mx-7">
            <div nz-col class="gutter-row" [nzSpan]="12">
                <div class="inner-box ">
                    <ul class="ul-foo">
                        <li class="ms-3 title-4">Bài viết</li>
                        <li class="ms-3 title-4">|</li>
                        <li class="ms-3 title-4">Liên hệ</li>
                    </ul>
                </div>
            </div>
            <div nz-col class="gutter-row align-items-center" [nzSpan]="12">
                <div class="inner-box  ms-auto">
                        <p>Coppyright © 2021 to present - BlogCoder.com All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>
