.bgr-create-blog {
    flex-direction: column;
    height: 1080px;
    background: url(https://static.wixstatic.com/media/375882_7659abacb39747ae9cc7e34a21b6ffdd~mv2_d_2496_1399_s_2.jpg/v1/fill/w_1855,h_1080,al_c,q_90,usm_0.66_1.00_0.01/375882_7659abacb39747ae9cc7e34a21b6ffdd~mv2_d_2496_1399_s_2.webp) no-repeat center;
  
    h1 {
      color: white;
      margin-top: 170px;
      font-weight: bold;
    }
    button {
      background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
      border: 0;
      border-radius: 12px;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 2.5;
      outline: transparent;
      padding: 0 1rem;
      text-align: center;
      text-decoration: none;
      transition: box-shadow .2s ease-in-out;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      padding: 4px 24px;
    }
    button:not([disabled]):focus{
      box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
    button:not([disabled]):hover{
      box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
  }
  
  