<div class="header py-3">
    <div class="container-fluid">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" class="mx-7">
            <div nz-col class="gutter-row" [nzSpan]="8">
                <div class="inner-box ">
                    <img class="logo-header" src="/assets/logo-mini.PNG" alt="logo blog">
                </div>
            </div>
            <div nz-col class="gutter-row align-item-center" [nzSpan]="10">
                <div class="inner-box  ms-auto">
                    <ul class="ul-nav">
                        <li class="ms-3 title-4">Trang chủ</li>
                        <li class="ms-3 title-4">Bài viết</li>
                        <li class="ms-3 title-4">Về chúng tôi</li>
                        <li class="ms-3 title-4">Liên hệ</li>
                    </ul>
                </div>
            </div>
            <div nz-col class="gutter-row btn-login m-auto" [nzSpan]="6">
                <div class="inner-box ">
                    <div class="ms-3 title-4 f-right">Đăng nhập</div>
                </div>
            </div>
        </div>
    </div>
</div>