<div class="header py-3">
    <div class="container-fluid">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div nz-col class="gutter-row" [nzSpan]="8">
                <div class="inner-box ">
                    <img class="logo-header pointer" src="/assets/logo-mini.PNG" alt="logo blog" (click)="onRouter('Trang chủ')">
                </div>
            </div>
            <div nz-col class="gutter-row align-items-center" [nzSpan]="12">
                <div class="inner-box  ms-auto">
                    <ul class="ul-nav">
                        <li class="ms-3 title-4" (click)="onRouter($event)">Trang chủ</li>
                        <li class="ms-3 title-4" (click)="onRouter($event)">Bài viết</li>
                        <li class="ms-3 title-4" (click)="onRouter($event)">Về chúng tôi</li>
                        <li class="ms-3 title-4" (click)="onRouter($event)">Liên hệ</li>
                    </ul>
                </div>
            </div>
            <div nz-col class="gutter-row btn-login m-auto" [nzSpan]="4">
                <div class="inner-box ">
                    <ng-container [ngTemplateOutlet]="loginTpl" *ngIf="userId === '' || userId === null; else logoutTpl">
                    </ng-container>

                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loginTpl>
    <div class="ms-3 title-4 f-right" (click)="onRouter($event)">Đăng nhập</div>
</ng-template>
<ng-template #logoutTpl>
    <div class="ms-3 title-4 f-right">
        <img class="avt" src="/assets/avt.png" alt="avt" nz-dropdown [nzDropdownMenu]="menu">
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
                <li nz-menu-item (click)="onRouter($event)">Thông tin cá nhân</li>
                <li nz-menu-item >Bài viết của bạn</li>
                <li nz-menu-item (click)="logout()">Đăng xuất</li>
            </ul>
        </nz-dropdown-menu>
    </div>
</ng-template>