<div class="header py-3">
    <div class="container-fluid">
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" class="mx-7">
            <div nz-col class="gutter-row" [nzSpan]="12">
                <div class="inner-box ">
                    <img class="logo-header" src="/assets/logo-mini.PNG" alt="logo blog">
                </div>
            </div>
            <div nz-col class="gutter-row align-item-center" [nzSpan]="12">
                <div class="inner-box  ms-auto">
                    <ul class="ul-nav">
                        <li class="ms-3 title-4">Home</li>
                        <li class="ms-3 title-4">Work</li>
                        <li class="ms-3 title-4">Blog</li>
                        <li class="ms-3 title-4">About</li>
                        <li class="ms-3 title-4">Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>