<div class="bgr-w pb-5">
    <div class="container-fluid mheight">
        <div class="py-4 text-center">
            <h3 class="title-8 bold textEspecially">Danh sách bài viết</h3>
        </div>
        <ng-container *ngIf="listCategory$ |async as listCategory">
            <div class="boxMultimedia py-2 align-items-center text-center title-4" nz-row>
                <div nz-col [nzSpan]="6">
                    <div class="inner-box">

                        <nz-select [(ngModel)]="valueSelect" (ngModelChange)="valueSelectChange($event)"
                            class="selectCategory">
                            <nz-option nzValue="" nzLabel="Tất cả"></nz-option>
                            <ng-container *ngFor="let category of listCategory.data">
                                <nz-option [nzValue]="category._id" [nzLabel]="category.name"></nz-option>
                            </ng-container>
                        </nz-select>
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="6">
                    <div class="inner-box">
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="relative">
                            <input type="text" nz-input placeholder="Tìm kiếm" class="inputSearch"
                                [(ngModel)]="inputSearch" />
                        </nz-input-group>
                        <ng-template #suffixIconButton>
                            <button nz-button nzType="primary" nzSearch class="iconSearch"><i nz-icon nzType="search"
                                    (click)="searchTitle()"></i></button>
                        </ng-template>
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="6">
                    <ng-container [ngSwitch]="isPersonal">
                        <ng-container *ngSwitchCase="true">
                            <ng-template [ngTemplateOutlet]="personal"></ng-template>
                        </ng-container>
                        <ng-container *ngSwitchCase="false">
                            <ng-template [ngTemplateOutlet]="everyone"></ng-template>
                        </ng-container>
                    </ng-container>

                </div>
                <div nz-col class="gutter-row" [nzSpan]="6">
                    <div class="inner-box pointer" (click)="routerCreateBlog()">Tạo mới</div>
                </div>
            </div>
            <ng-container *ngIf="loader; else noDateTpl">
                <div class="example">
                    <nz-spin nzSimple></nz-spin>
                </div>
            </ng-container>
            <ng-template #noDateTpl>
                <div *ngIf="noData" class="mt-4">
                    <nz-empty [nzNotFoundContent]="'Không có bài viết nào'"></nz-empty>
                </div>
                <div nz-row class="bgrCard mt-2" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                    <div nz-col class="gutter-row" [nzSpan]="8" *ngFor="let blog of listBlog">
                        <div class="inner-box my-3 pointer" (click)="routerBlogDetail(blog._id)">
                            <div class="cart">
                                <ng-container *ngIf="blog.backgroundBlog; else noBgrBlogTpl">
                                    <img [src]="blog.backgroundBlog" [alt]="blog.backgroundBlog">
                                </ng-container>
                                <ng-template #noBgrBlogTpl>
                                    <img src="/assets/bgr-card{{a}}.jpg" alt="bgr-card{{a}}">
                                </ng-template>
                                <div class="boxPersonal d-flex mb-2">
                                    <b>Angular{{blog.categoryId|category:listCategory.data}} | {{blog.nikname}}</b>
                                    <div class="left">{{blog.createAt |date:'dd/MM/yyyy'}}</div>
                                </div>
                                <h3 class="title-4 ">{{blog.title}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

        </ng-container>
    </div>
</div>
<ng-template #personal>
    <div class="inner-box  pointer" (click)="personalFilter($event)">Của tôi</div>
</ng-template>
<ng-template #everyone>
    <div class="inner-box  pointer" (click)="personalFilter($event)">Mọi người</div>
</ng-template>