.boxMultimedia {
  background: linear-gradient(to bottom, #354c74, #4c588d);
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.textEspecially {
  color: #333;
}

nz-select {
  width: 98%;
  background: linear-gradient(to bottom, #354c74, #4c588d);
  color: rgb(102, 99, 99);
  font-size: 18px;
}

.inputSearch {
  background: linear-gradient(to bottom, #354c74, #4c588d);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.inputSearch:hover {
  border: 1px solid white;
}

.inputSearch:focus {
  border: 1px solid white;
}

.inputSearch:focus-visible {
  border: 1px solid white;
}

.inputSearch::placeholder {
  /* chạy tốt trên Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-weight: 400;
  opacity: 1;
  /* Firefox */
}

.iconSearch {
  border: 1px solid white;
  position: absolute;
  right: -30px;
  top: 0;
  background: linear-gradient(to bottom, #354c74, #4c588d);
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;

  i {
    color: white;
  }
}

.bgrCard {
  color: #333;
  background: white;
  min-height: 360px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.cart {
  position: relative;

  img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 405.33px;
    height: 253.33px;
  }

  .boxPersonal {
    background: linear-gradient(to bottom, #354c74, #4c588d);
    color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 8px 16px;
    justify-content: space-between;

    b {
      float: left;
      align-items: center;
    }

    div {
      float: right;
    }
  }

  h3 {
    color: #333;
    font-weight: bold;
  }
}

.example {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
  width: 100%;
}

.pagination-bottom {
  background: linear-gradient(to bottom, #354c74, #4c588d);
  width: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 8px;
}

nz-pagination {
  display: flex;
  justify-content: center;
}

.cbx {
  position: absolute;
  right: 8px;
  top: 5px;
  width: 16px;
  height: 16px;
}

.cbx-all {
  // margin-left: 40px;

}



.ribbon-wrapper {
  z-index: 10000;
  width: 96px;
  height: 102px ;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
  .censored {
    font: bold 15px sans-serif;
    text-align: center;
    -webkit-transform: rotate(313deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 7px 0;
    top: 25px;
    left: -48px;
    width: 175px;
    background-color: #ee2e31;
    color: #fff;
  }
}

