<div class="mheight">
    <div class="container-fluid pt-5 ">
        <h2 class="title-7 my-3 bold">
            Về chúng tôi
        </h2>
        <div class="title-4">
            <p>Đây là blog riêng của mình: Bùi Ngọc Lâm, blog này được viết nhằm mục đích giúp mọi coder chia sẻ kinh
                nghiệp
                cũng như ý kiến của bản thân về những bài viết</p>
            <p>Cái tên Lập Blog Coder là slogan và cũng là ý nghĩa của trang web này.</p>
            <p>Hiện tại thì mình đang học Web Development và chủ yếu làm những web liên quan tới Angular, cảm ơn các bạn
                đã
                theo dõi và ủng hộ</p>
            <p>Hi vọng các bạn có thời gian theo dõi và chia sẻ các ý kiến của bản thân với mình để blog hoàn thiện hơn.
            </p>
            <p>Best Regards!</p>
        </div>
        <div class="signature">
            <h3 class="title-6 ms-3">Lâm</h3>
            <p class="">Bùi Ngọc Lâm.</p>
        </div>
    </div>
</div>