<div class="bgr-w py-5">
  <div class="container-fluid">
    <div class="second-home text-center">
      <h2 class="title-7 mb-5">Tất cả những thứ bạn cần, và hơn thế nữa.</h2>
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row mb-4" [nzSpan]="6">
          <div class="inner-box cart-introduce">
            <i nz-icon nzType="contacts" nzTheme="outline"></i>
            <h3 class="title-5">Tạo tài khoản</h3>
            <p class="title-4">Tạo tài khoản nhanh chóng, <br> bảo mật cao</p>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
          <div class="inner-box cart-introduce"><i nz-icon nzType="file-search" nzTheme="outline"></i>
            <h3 class="title-5">Xem bài viết</h3>
            <p class="title-4">Xem và tìm kiếm bài viết <br>của các thành viên khác</p>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
          <div class="inner-box cart-introduce"><i nz-icon nzType="file-done" nzTheme="outline"></i>
            <h3 class="title-5">Tạo bài viết</h3>
            <p class="title-4">Tạo bài viết đơn giản, <br> tiện dụng, nhanh chóng</p>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
          <div class="inner-box cart-introduce"><i nz-icon nzType="like" nzTheme="outline"></i>
            <h3 class="title-5">Kiểm duyệt bài viết</h3>
            <p class="title-4">Tức thời, hiệu quả, giúp các thành <br> viên chia sẻ các thông tin tốt nhất</p>
          </div>
        </div>
      </div>
      <app-button-basic value="Bắt đầu"></app-button-basic>
    </div>
  </div>
</div>