// import style

@import './scss/grid.scss';
@import './app/ckCustomBuild/sample/styles.css';
/*ng-zorro*/
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css";


/*import form*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');

* {
  font-family: 'Josefin Sans', sans-serif;
}

html body {
  height: 100%;
  scroll-behavior: smooth;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.title-1 {
  font-size: 12px;
}

.title-2 {
  font-size: 14px;
}

.title-3 {
  font-size: 16px;
}

.title-4 {
  font-size: 18px;
}

.title-5 {
  font-size: 24px;
}

.title-6 {
  font-size: 32px;
}

.title-7 {
  font-size: 40px;
}

.title-8 {
  font-size: 64px;
}

.bgr-w {
  background-color: white !important;
}

.relative {
  position: relative;
}




body {
  background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }

}


.btn-basic {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  padding: 4px 24px;
}

.btn-basic:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btn-basic:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.border-none{border: none !important;}

.avt {
  width: 40px;
  height: auto;
  border: 1px solid black;
  border-radius: 50%;
}
.textEspecially{
  color: #4c91a7;
}
.bold{
  font-weight: bold;
}
.mheight{
  min-height: 550px;
}

 .selectCategory > .ant-select-selector{
  border: none !important;
  background: linear-gradient(to bottom, #354c74, #4c588d);
  color: white;
}
.selectCategory .ant-select-arrow{
  display: none;
}
.pointer:hover{
  cursor: pointer;
}

