.dataView {
  flex-direction: column;
  min-height: 700px;
  background-color: white;
  padding-bottom: 60px;
}

.individual {
  font-size: 20px;
  flex-direction: column;
  font-weight: bold;
}

.st-thanh {
  font-size: 24px;
  color: #7d7d7d;
}

.titleView {
  max-width: 700px;
  text-align: center;
}

.viewQuantity {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;

  i {
    font-size: 24px;
    margin-right: 4px;
  }

  div {
    font-size: 20px;
  }
}

.bgrCard {
  color: #333;
  background: white;
  min-height: 360px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.cart {
  img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 485.5px;
    height: 253.33px;
  }

  .boxPersonal {
    background: linear-gradient(to bottom, #354c74, #4c588d);
    color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 8px 16px;
    justify-content: space-between;

    b {
      float: left;
      align-items: center;
    }

    div {
      float: right;
    }
  }

  h3 {
    color: #333;
    font-weight: bold;
  }
}

/* CSS */
.button-1 {
  background: linear-gradient(to bottom, #354c74, #4c588d);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  // background-color: #F082AC;
  background: linear-gradient(to bottom, #475f8b, #606eb1);

}

.btn-absolute {
  position: absolute;
    right: 435px;
    top: 25px;
}
.example {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
}
